@import url('https://fonts.googleapis.com/css2?family=Karla&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@350&display=swap');

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  background-color: #32292F;
  color: #F0F7F4;
  font-family: 'Karla', sans-serif;
}